previewsEnabled: false

databases:
  - name: lightdash-database-eu
    region: frankfurt
    ipAllowList: []

services:
  - type: web
    env: docker
    region: frankfurt
    name: lightdash-server-eu
    dockerContext: .
    dockerfilePath: dockerfile
    envVars: 
      - key: PGHOST
        fromDatabase:
          name: lightdash-database
          property: host
      - key: PGPORT
        fromDatabase:
          name: lightdash-database
          property: port
      - key: PGDATABASE
        fromDatabase:
          name: lightdash-database
          property: database
      - key: PGUSER
        fromDatabase:
          name: lightdash-database
          property: user
      - key: PGPASSWORD
        fromDatabase:
          name: lightdash-database
          property: password
      - key: TRUST_PROXY
        value: true
      - key: SECURE_COOKIES
        value: true
      - key: LIGHTDASH_SECRET
        generateValue: true

      - key: S3_ENDPOINT
        value: "http://minio-storage:9000"
      - key: S3_REGION
        value: "eu-central-1"
      - key: S3_BUCKET
        value: "default"
      - key: S3_ACCESS_KEY
        value: "minioadmin"
      - key: S3_SECRET_KEY
        value: "minioadmin"
      - key: S3_FORCE_PATH_STYLE
        value: "true"

  - type: pserv
    env: docker
    region: frankfurt
    name: minio-storage
    image:
      url: docker.io/bitnami/minio:latest # Use the MinIO image
    envVars:
      - key: MINIO_ROOT_USER
        value: "minioadmin"
      - key: MINIO_ROOT_PASSWORD
        value: "minioadmin"
      - key: MINIO_DEFAULT_BUCKETS
        value: "default"
    disk: # Crucial for persistence
      name: minio-data
      mountPath: /data
      sizeGB: 1
