previewsEnabled: false

databases:
  - name: lightdash-database-eu
    region: frankfurt
    ipAllowList: []

services:
  - type: web
    env: docker
    region: frankfurt
    name: lightdash-server-eu
    dockerContext: .
    dockerfilePath: dockerfile
    envVars: 
      - key: PGHOST
        fromDatabase:
          name: lightdash-database-eu
          property: host
      - key: PGPORT
        fromDatabase:
          name: lightdash-database-eu
          property: port
      - key: PGDATABASE
        fromDatabase:
          name: lightdash-database-eu
          property: database
      - key: PGUSER
        fromDatabase:
          name: lightdash-database-eu
          property: user
      - key: PGPASSWORD
        fromDatabase:
          name: lightdash-database-eu
          property: password
      - key: TRUST_PROXY
        value: true
      - key: SECURE_COOKIES
        value: true
      - key: LIGHTDASH_SECRET
        generateValue: true
      - key: S3_BUCKET
        sync: false
      - key: S3_ACCESS_KEY
        sync: false
      - key: S3_SECRET_KEY
        sync: false
